# Elección de Datasets potenciales - Desafio Clase 5

##### Deberás entregar el primer avance de tu proyecto final. Identificarás 3 datasets potenciales con las siguientes características: i) al menos 2000 filas, ii) al menos 15 columnas. Posterior a esto crearás un notebook donde cargarás los datos utilizando la librería pandas y finalmente describirás las variables que sean más interesantes teniendo en cuenta el contexto comercial y analítico del problema que se quiera resolver.

## Dataset N°1 Properati

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Se carga archivo CSV
data_properati = pd.read_csv('../ar_properties_1.csv', encoding= "latin-1")

In [3]:
data_properati.head(3)

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,...,bathrooms,surface_total,surface_covered,price,currency,price_period,title,description,property_type,operation_type
0,DyVXfkpKygVBKuUk5olH+A==,Propiedad,2020-08-22,2020-09-03,2020-08-22,-34.407468,-58.957367,Argentina,Bs.As. G.B.A. Zona Norte,Pilar,...,NaN,133139.0,NaN,NaN,NaN,Mensual,VENTA - Lote Industrial 130.000m2 - Parque Ind...,Lote (Nro.50) mide 133.139 m2\n<br>Valor: U$S ...,Lote,Venta
1,9naojilaMecJN4jlQiTkGg==,Propiedad,2020-08-22,2020-09-04,2020-08-22,-37.996039,-57.542509,Argentina,Buenos Aires Costa AtlÃ¡ntica,Mar del Plata,...,NaN,687.0,687.0,NaN,NaN,Mensual,Casa - Santa Cecilia,Conjunto edilicio de casa y departamentos en b...,Otro,Venta
2,tlCPRJPjoDEUzuuCelemAQ==,Propiedad,2020-08-22,2020-08-31,2020-08-22,-31.380187,-58.009182,Argentina,Entre RÃ­os,Concordia,...,1.0,80.0,80.0,NaN,NaN,Mensual,Casa - Concordia,"Casa de un dormitorio, cocina, baÃ±o, living c...",Casa,Alquiler

In [4]:
data_properati.shape

(1000000, 25)

In [5]:
# Se visualizan los registos unicos de provincias. Top 15
data_properati.l2.value_counts().head(15)

Capital Federal                  265125
Bs.As. G.B.A. Zona Norte         184310
Bs.As. G.B.A. Zona Sur           131431
Santa Fe                          91565
Bs.As. G.B.A. Zona Oeste          76786
Buenos Aires Costa AtlÃ¡ntica     73759
CÃ³rdoba                          66274
Buenos Aires Interior             23975
NeuquÃ©n                          15487
Mendoza                            9172
RÃ­o Negro                         7935
Maldonado                          7784
Entre RÃ­os                        6750
TucumÃ¡n                           6531
Salta                              6056
Name: l2, dtype: int64

## Dataset N°2 AIRBNB

In [6]:
# Se carga archivo CSV
data_airbnb = pd.read_csv('../Buenos_Aires_AIRBNB.csv', encoding= "latin-1")

In [7]:
data_airbnb.head(3)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,7270,Â¡Â¡Great Loft in Palermo Hollywood!!,18822,Toni,Palermo,-34.58241,-58.43382,Entire home/apt,2033,20,14,30-04-2018,0.15,1,363
1,11508,Amazing Luxurious Apt-Palermo Soho,42762,Candela,Palermo,-34.58225,-58.42460,Entire home/apt,3588,2,25,13-08-2019,0.28,1,281
2,12463,Room in Recoleta - awesome location,48799,Matt,Recoleta,-34.59761,-58.39468,Private room,1435,1,20,11-12-2017,0.17,1,365

In [8]:
data_airbnb.shape

(22877, 15)

In [9]:
# Se visualizan los registos unicos de los barrios. Top 15
data_airbnb.neighbourhood.value_counts().head(15)

Palermo         6934
Recoleta        3687
San Nicolas     1316
Retiro          1159
Balvanera       1100
Belgrano        1048
Almagro          979
Monserrat        953
Villa Crespo     770
San Telmo        692
Colegiales       462
Caballito        459
Chacarita        426
NuÃ±ez           424
Constitucion     335
Name: neighbourhood, dtype: int64

## Datasets N°3 Hoteles

In [10]:
# Se carga archivo CSV
data_bookings = pd.read_csv('../hotel_bookings.csv', encoding= "latin-1")

In [11]:
data_bookings.head(3)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02

In [12]:
data_bookings.shape

(119390, 32)

In [13]:
# Se visualizan los registos unicos de tipo de hoteles. Top 15
data_bookings.hotel.value_counts().head(15)

City Hotel      79330
Resort Hotel    40060
Name: hotel, dtype: int64